*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Inter', sans-serif, 'Courier New', Courier, monospace;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 60px;
  background-color: #5a6af5;
  color: white;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  list-style: none;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.navbar .earth {
  font-size: 1.3rem;
  margin-right: 5px;
}
